{% extends "base.html" %} {% block content %}

<h2>Thermal Imaging for crack detection on concrete surfaces</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose Image...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <h2 id="resClass">{{ result_class}}</h2>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <div id="result">
        {% for image_path in image_paths %}
            <img src="{{ image_path }}" alt="" >
        {% endfor %}
    </div>

</div>

{% endblock %}